[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"

[packages]
flask = "*"
flask-wtf = "*"
wtforms = "*"
flask-bootstrap = "*"
requests = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.8"
