<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta htt-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <title>GrandPyBot</title>
</head>

<body>
    <div class="container">
        <div class="row my-rowHeader">
            <div class="col-auto">
                <img id="avatar" src="{{url_for('static', filename='ressources/GranpyBotAvatarRecadrage.png')}}"
                    alt="Batman" class="rounded-circle avatar">
            </div>
            <div class="col-sm test">
                <span class="align-middle">One of three columns</span>
            </div>
            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div>
    {%block content %}{%endblock %}


</body>

</html>