{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center ">
        <div class="card image">
            <div class="card body_message">
                <div class="card input_user">
                    <ul class="demo-list-three mdl-list">
                        <li class="GranPy">
                            <img class="icone"
                                src={{ url_for('static', filename='ressources/GranpyBotAvatarRecadrage.png') }}
                                width="60" height="60">
                            <span class="text">Bonjour, je suis GrandPy bot,le papi robot
                                <br>De quel lieu
                                veut tu parler?
                            </span>
                        </li>
                    </ul>
                </div>
                <div id="map"></div>
                <div class="card user_message">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" id="message" rows="3"
                                placeholder="Entrer un lieu, une adresse"></textarea>
                            <button class="btn btn-primary" id="submit" onclick="submit_message();">Submit
                                message</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    function submit_message() {
        var message = document.getElementById("message");

        var entry = {
            message: message.value

        };
        console.log(entry)
        fetch("/process", {
            method: "POST",
            credentials: "same-origine",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
            .then(function (response) {
                if (response.status !== 200) {
                    console.log(`Looks like there was a problem. Status code: ${response.status}`);
                    return;
                }
                response.json().then(function (data) {
                    console.log(data);
                });
            })
            .catch(function (error) {
                console.log("Fetch error: " + error);
            });
    }
</script>
{% endblock %}